body {
    background-color: #262038;
    color: white;
}

canvas {
    background-color: #262038;
    z-index: 1;
    width: 100%;
    height: auto;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

#game {
    height: 620px;
    border: 1px solid white;
    color: white;
}

.mb {
    margin-bottom: 0 !important;
}

#directions {
    z-index: 3;
    position: absolute;
    top: 0%;
    left: relative;
    align-content: center;
}

#startButton {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: relative;
    align-content: center;
}

#user {
    position: relative;
}

#bullet {
    position: relative;
}
