body {
    background-color: #262038;
}

canvas {
    background-color: #262038;
    width: 100%;
    height: auto;
}

h1 {
    color: white;
}

#game {
    height: 620px;
    border: 1px solid white;
}

.mb {
    margin-bottom: 0 !important;
}

#user {
    position: relative;
}

#bullet {
    position: relative;
}
